{% extends 'layout.html' %}
{% load static %}
{% block title %}Home - Cafe Website{% endblock %}

{% block content %}

<div class="search-bar">
    <input
        type="text"
        id="searchInput"
        placeholder="Search..."
        onkeyup="searchItems()"
    />
</div>

<h2>Our Coffees</h2>
<div class="coffee-items">
    {% for cafe in coffees %}
    <div class="coffee-item">
        <img src="{{ cafe.image.url }}" alt="Coffee Image" class="images">
        <h2 class="names">{{ cafe.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in coffee_prices %}
                {% if price.coffee.id == cafe.id %}
                <a class="addLink" href="{% url 'add_to_cart' cafe.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="more_item"><a href="{% url 'all_coffees' %}"> More</a></div>

<h2>Our Teas</h2>
<div class="coffee-items">
    {% for tea in teas %}
    <div class="coffee-item">
        <img class="images" src="{{ tea.image.url }}" alt="Tea Image"/>
        <h2 class="names">{{ tea.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in tea_prices %}
                {% if price.tea.id == tea.id %}
                <a class="addLink" href="{% url 'add_tea_to_cart' tea.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="more_item"><a href="{% url 'all_Tea' %}"> More</a></div>

<h2>Our Juices</h2>
<div class="coffee-items">
    {% for juice in juices %}
    <div class="coffee-item">
        <img class="images" src="{{ juice.image.url }}" alt="Juice Image"/>
        <h2 class="names" style="color: #333; font-size: 1.5rem">{{ juice.name }}</h2>
        <div class="dropdown" style="position: relative">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in beverage_prices %}
                {% if price.juice and price.juice.id == juice.id %}
                <a class="addLink" href="{% url 'add_beverage_to_cart' 'juice' juice.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if hot_chocolates %}
<h2>Our Hot Chocolates</h2>
<div class="coffee-items">
    <div class="coffee-item">
        <img class="images" src="{{ hot_chocolates.image.url }}" alt="Hot Chocolate Image"/>
        <h2 class="names">{{ hot_chocolates.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in beverage_prices %}
                {% if price.hot_chocolate and price.hot_chocolate.id == hot_chocolates.id %}
                <a class="addLink" href="{% url 'add_beverage_to_cart' 'hot_chocolate' hot_chocolates.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if milkshakes %}
<h2>Our Milkshakes</h2>
<div class="coffee-items">
    <div class="coffee-item">
        <img class="images" src="{{ milkshakes.image.url }}" alt="Milkshake Image"/>
        <h2 class="names">{{ milkshakes.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in beverage_prices %}
                {% if price.milkshake and price.milkshake.id == milkshakes.id %}
                <a class="addLink" href="{% url 'add_beverage_to_cart' 'milkshake' milkshakes.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="more_item"><a href="{% url 'other_beverages' %}"> More</a></div>

<h2>Our Snacks</h2>
<div class="coffee-items">
    {% for snack in snacks %}
    <div class="coffee-item">
        <img class="images" src="{{ snack.image.url }}" alt="Snack Image"/>
        <h2 class="names">{{ snack.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in food_prices %}
                {% if price.Snacks and price.Snacks.id == snack.id %}
                <a class="addLink" href="{% url 'add_food_to_cart' 'snack' snack.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if side_dishes %}
<h2>Our Side Dishes</h2>
<div class="coffee-items">
    <div class="coffee-item">
        <img class="images" src="{{ side_dishes.image.url }}" alt="Side Dish Image"/>
        <h2 class="names">{{ side_dishes.name }}</h2>
        <div class="dropdown">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in food_prices %}
                {% if price.Side_dish and price.Side_dish.id == side_dishes.id %}
                <a class="addLink" href="{% url 'add_food_to_cart' 'side_dish' side_dishes.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if pastas %}
<h2>Our Pastas</h2>
<div class="coffee-items">
    <div class="coffee-item">
        <img class="images" src="{{ pastas.image.url }}" alt="Pasta Image"/>
        <h2 class="names">{{ pastas.name }}</h2>
        <div class="dropdown" style="position: relative">
            <button class="dropbtn">Add To Cart</button>
            <div class="dropdown-content">
                {% for price in food_prices %}
                {% if price.Pastas and price.Pastas.id == pastas.id %}
                <a class="addLink" href="{% url 'add_food_to_cart' 'pasta' pastas.id price.size.id 'increment' %}">
                    {{ price.size.get_size_display }}: {{ price.price }} Rs
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="more_item"><a href="{% url 'all_food' %}"> More</a></div>

{% if not coffees %}
<p class="Notfound">No results found.</p>
{% endif %}

<script src="{% static 'js/search.js' %}"></script>

{% endblock %}